.loader {
  height: 50px;
  /* Change the way the circles spin */
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: purple;
  border-radius: 50%;
  margin: -10px;
  /* Change size of the circles*/
  transform: scale(0);
  animation: grow 1.5s linear infinite;
}

.circle:nth-child(2) {
  background: palevioletred;
  /* So the circles don't change size at the same time */
  animation-delay: 0.75s;
}

@keyframes rotate {
  /* Spin all the way around */
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}
